version: '3'

networks:
  default:
    name: urione-dev-net

services:
  db:
    image: mysql:8.0.33-debian
    container_name: urione-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: '0000'
      MYSQL_USER: 'test'
      MYSQL_PASSWORD: 'test'
      MYSQL_DATABASE: 'test_database'
    ports:
      - "127.0.0.1:3306:3306"
    healthcheck:
      test: [ "CMD", "mysql", "--user=root", "--password=0000", "-e", "SHOW DATABASES;" ]
      interval: 15s
      timeout: 30s
      retries: 30

  adminer:
    image: adminer:latest
    container_name: urione-adminer
    restart: always
    depends_on:
      - db
    ports:
      - "127.0.0.1:8090:8080"