[Unit]
After=network.target

[Service]
User=root
Group=root

Restart=on-failure
RestartSec=30

WorkingDirectory=/root/urione
ExecStart=/root/urione/uri-one

KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=default.target

